#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=StackEdit
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=olheigmnhdlofgjiponfkcnofipcljko
Icon=chrome-olheigmnhdlofgjiponfkcnofipcljko-Default
StartupWMClass=crx_olheigmnhdlofgjiponfkcnofipcljko
