#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Docs
Exec=/opt/google/chrome/google-chrome "--profile-directory=Profile 1" --app-id=mpnpojknpmmopombnjdcgaaiekajbnjb
Icon=chrome-mpnpojknpmmopombnjdcgaaiekajbnjb-Profile_1
StartupWMClass=crx_mpnpojknpmmopombnjdcgaaiekajbnjb
