[Desktop Entry]
Version=1.0
Name=claude
Comment=claude
Exec=launch-webapp https://claude.ai
Terminal=false
Type=Application
Icon=claude
StartupNotify=true
