[Desktop Entry]
Version=1.0
Name=Gmail
Comment=Read and send email
Exec=launch-webapp https://mail.google.com
Terminal=false
Type=Application
Icon=gmail
StartupNotify=true
