#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=GMail
GenericName=This One
Comment=This One
Exec=webapp_launcher https://mail.google.com
Terminal=false
Type=Application
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupNotify=true
StartupWMClass=gmail
