[Desktop Entry]
Version=1.0
Name=gmail
Comment=gmail
Exec=launch-webapp https://mail.google.com
Terminal=false
Type=Application
Icon=/home/jsimpson/.local/share/applications/icons/gmail.png
StartupNotify=true
