[Desktop Entry]
Version=1.0
Name=Google Drive
Comment=Google Drive
Exec=launch-webapp https://drive.google.com/drive/
Terminal=false
Type=Application
Icon=/home/jsimpson/.local/share/applications/icons/Google Drive.png
StartupNotify=true
