#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Obsidian
GenericName=Note taking app
Comment=Obsidian AppImage
Exec=/home/jsimpson/.local/share/AppImage/Obsidian.AppImage --ozone-platform-hint=auto --enable-features=WaylandWindowDecorations
Terminal=false
Type=Application
Icon=obsidian-icon
StartupNotify=true
MimeType=x-scheme-handler/obsidian;
