#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Obsidian
GenericName=Note taking app
Comment=Google Contacts
Exec=/home/jsimpson/.local/share/applications/Obsidian.AppImage --enable-features=UseOzonePlatform --ozone-platform=wayland
Terminal=false
Type=Application
Icon=obsidian-icon
StartupNotify=true
MimeType=x-scheme-handler/obsidian;
