[Desktop Entry]
Version=1.0
Name=Tasks
Comment=Tasks
Exec=launch-webapp https://tasks.google.com/tasks/
Terminal=false
Type=Application
Icon=/home/jsimpson/.local/share/applications/icons/Tasks.png
StartupNotify=true
