#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=TeamSnap
GenericName=TeamSnap
Comment=Webapp for Team Snap defaulting to CPSP
Exec=launch-webapp https://go.teamsnap.com/8440911/home
Terminal=false
Type=Application
Icon=~/.local/share/icons/team-snap.png
StartupNotify=true
StartupWMClass=TeamSnap
