@import "~/.local/state/current/font/rofi.rasi"

configuration {
    modi: "drun,run,filebrowser,window";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "";
    display-run: "";
    display-window: "";
    display-filebrowser: "";
    display-Network: "";
    display-dmenu: "";
    
    // Enable icons
    show-icons: true;
    icon-theme: "Papirus";
}

@theme "grey-menu"
