Xterm*termName: xterm-256color
URxvt*termName: rxvt-256color

URxvt*scrollBar: false

Xft.autohint:    0
Xft.dpi:         96
Xft.antialias:   1
Xft.rgba:        rgb
Xft.hinting:     true
Xft.hintstyle:   hintslight
Xft.lcdfilter:   lcddefault

URxvt.geometry:  90x30
URxvt.loginShell: true

URxvt*font: xft:Hack-Regular:size=9
URxvt*boldFont: xft:Hack-Bold:size=9

URxvt*background: black
URxvt.foreground: white

! Enables copy/paste with Ctrl-Shift-C/V
URxvt*iso14755: false
URxvt*iso14755_52: false
URxvt.perl-ext-common: default,clipboard,fullscreen
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.F11: perl:fullscreen:switch

! Colors
! Black
URxvt.color0: rgb:1c/1c/1c
URxvt.color8: rgb:3b/3b/3b
! Red
URxvt.color1: rgb:d7/5f/5f
URxvt.color9: rgb:ff/b9/64
! Green
URxvt.color2: rgb:72/a2/5a
Urxvt.color10: rgb:99/ad/6a
! Yellow
Urxvt.color3: rgb:d8/ad/4c
Urxvt.color11: rgb:fa/d0/7a
! Blue
Urxvt.color4: rgb:59/7b/c5
Urxvt.color12: rgb:81/97/bf
! Magenta
Urxvt.color5: rgb:87/87/af
Urxvt.color13: rgb:d7/af/ff
! Cyan
Urxvt.color6: rgb:4a/83/82
Urxvt.color14: rgb:8f/bf/dc
! White
Urxvt.color7: rgb:ad/ad/ad
Urxvt.color15: rgb:e8/e8/de
